{% extends 'base.html' %}
{% load static %}


{% block CSS_files %}
    <link rel="stylesheet" href="{% static 'account/css/profile.css' %}">
{% endblock CSS_files %}
    

{% block content %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container pt-4">
        <div class="col-lg-8">
            <div class="panel profile-cover">
                <div class="profile-cover__img">
                    <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" />
                    <h3 class="h3">{{ user.username }}</h3>
                </div>
                
                {% if request.user.id != user.id %}
                    <div class="profile-cover__action bg--img" data-overlay="0.3">
                        
                        {% if not is_following %}
                            <a href="{% url 'account:user_follow' user.id %}" class="btn btn-rounded btn-info">
                                <i class="fa fa-plus"></i>
                                <span>Follow</span>
                            </a>
                        {% else %}
                        <a href="{% url 'account:user_unfollow' user.id %}" class="btn btn-rounded btn-info">
                            <i class="fa fa-close"></i>
                            <span>Unfollow</span>
                        </a>
                        {% endif %}

                        <button class="btn btn-rounded btn-info">
                            <i class="fa fa-comment"></i>
                            <span>Message</span>
                        </button>
                    </div>
                {% endif %}
                    
                <div class="profile-cover__info">
                    <ul class="nav">
                        <li><strong>{{ user.profile.posts_counts }}</strong><b>Posts</b></li>
                        <li><strong>{{ user.profile.followers_counts }}</strong><b>Followers</b></li>
                        <li><strong>{{ user.profile.followings_counts }}</strong><b>Following</b></li>
                    </ul>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Posts</h3>
                </div>
                <div class="panel-content panel-activity">
                    <form action="#" class="panel-activity__status">
                        <textarea name="user_activity" placeholder="Share what you've been up to..."
                            class="form-control"></textarea>
                        <div class="actions">
                            <div class="btn-group">
                                <button type="button" class="btn-link" title="" data-toggle="tooltip"
                                    data-original-title="Post an Image">
                                    <i class="fa fa-image"></i>
                                </button>
                                <button type="button" class="btn-link" title="" data-toggle="tooltip"
                                    data-original-title="Post an Video">
                                    <i class="fa fa-video-camera"></i>
                                </button>
                                <button type="button" class="btn-link" title="" data-toggle="tooltip"
                                    data-original-title="Post an Idea">
                                    <i class="fa fa-lightbulb-o"></i>
                                </button>
                                <button type="button" class="btn-link" title="" data-toggle="tooltip"
                                    data-original-title="Post an Question">
                                    <i class="fa fa-question-circle-o"></i>
                                </button>
                            </div>
                            <button type="submit" class="btn btn-sm btn-rounded btn-info">
                                Post
                            </button>
                        </div>
                    </form>
                    <ul class="panel-activity__list">
                        
                        {% for post in posts %}
                            <li class="border border-dark rounded p-2">
                                <div class="activity__list__header">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" />
                                    <a href="{{ post.get_absolute_url }}">John Doe</a> Posted the question: <a href="#">How can I change my annual
                                        reports for the better effect?</a>
                                </div>
                                <div class="activity__list__body entry-content">
                                    <blockquote>
                                        <p>
                                            {{ post.body|truncatewords:20 }}
                                        </p>
                                    </blockquote>
                                </div>
                                <div class="activity__list__footer">
                                    <a href="#"> <i class="fa fa-thumbs-up"></i>{{ post.like_counts }}</a>
                                    <a href="#"> <i class="fa fa-comments"></i>{{ post.comments_counts }}</a>
                                    <span> <i class="fa fa-clock"></i>{{ post.created_at|timesince }} ago</span>
                                </div>
                            </li>
                        {% endfor %}
                            
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    